.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the box */
    align-items: center; /* Vertically center the box */
    text-align: center;
    height: 80vh;
  }

  .calender_join_box {
    width: 480px; /* Set desired width of the box */
    height: 230px; /* Set desired height of the box */
    background-color: rgba(0, 0, 0, 0.16); /* Set background color */
    border: 5px solid #5700C7; /* Optional: Add border */
    border-radius: 15px;
    justify-content: center; /* Center horizontally */
    text-align: center;
    align-items: center;
    position: relative;
  }

  .calender_generate_box {
    width: 480px; /* Set desired width of the box */
    height: 420px; /* Set desired height of the box */
    background-color: rgba(0, 0, 0, 0.16); /* Set background color */
    border: 5px solid #5700C7; /* Optional: Add border */
    border-radius: 15px;
    justify-content: center; /* Center horizontally */
    text-align: center;
    align-items: center;
    position: relative; /* Add this */
  }

  .calender_generate_box h2 {
    font-family: 'Quattrocento Sans';
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 7px;
  }

  .join_button {
    width: 380px; /* Set width as needed */
    height: 60px; /* Set height as needed */
    margin-top: 30px;
    border: 4px solid #4E4E4E; /* Add border for the box */
    background-color: #4E4E4E;
    border-radius: 15px; /* Add border radius for rounded corners */
    outline: none; /* Remove default outline */

    font-family: 'Quattrocento Sans';
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .generate_button {
    width: 300px; /* Set width as needed */
    height: 60px; /* Set height as needed */
    margin-top: 25px;
    border: 4px solid #4E4E4E; /* Add border for the box */
    background-color: #4E4E4E;
    border-radius: 15px; /* Add border radius for rounded corners */
    outline: none; /* Remove default outline */

    font-family: 'Quattrocento Sans';
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .helper_icon {
    position: absolute; /* Add this */
    top: 10px; /* Adjust this value as needed */
    right: 10px; /* Adjust this value as needed */
  }

  .helper_gif {
    position: absolute;
    right: 50px;
  }

  /* Defines the size of the logo for the join and create images*/
  .calenderImage {
    width: 80px;
    height: 80px;
    display: inline-block;
    max-width: 25%;
    text-align: center;
    margin: 30px 30px;
  }

  input[type="radio"] {
    display: none;
  }

  .duration_options input[type="radio"]:checked + label {
    background: rgba(255, 255, 255, 0.33);
    border-radius: 40px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
  }

  .duration_options label {
    font-family: 'Quattrocento Sans';
    color: white;
    font-size: 35px;
    padding: 10px 25px;
    cursor: pointer;
  }

  .calendar_options input[type="radio"]:checked + label {
    border-top: 5px solid white;
    padding: 0px;
  }

  .calendar_options label {
    cursor: pointer;
    border: none;
  }

  .allBody {
    background-color: #8C33FF;
    height: calc(100vh);
    overflow: hidden;
  }

  .hidden {
    display: none;
  }
/*
  .blob1 {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    right: -50px;
    top: 0px
  }

  .blob2 {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    right: -250px;
    top: -100px
  }

  .blob3 {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    left: 0px;
    bottom: 0px;
    height: 800px;
    width: auto;
  }

  .blob4 {
    z-index: -3;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    right: 0px;
    bottom: 0px;
    width: 60%;
    height: 120%;
    transform: rotate(15deg);
  }

  .blob5 {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
    left: -200px;
    bottom: 0px;
    height: 800px;
    width: auto;
    transform: rotate(-20deg);
  } */