/* Style the header with a grey background and some padding */
.header {
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* background-color: #b479ff; */
    text-align: center;
  }

  .nav{
    text-align: center;
  }

  ul {
    display: inline-block; /* Make the ul a block element */
    padding: 0; /* Remove default padding */
  }

  li {
    display: inline;
    font-family: 'Nunito';
    margin: 0 10px;
  }
  
  /* Style the header links */
  .header a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    display: inline-block;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.title {
    float: left;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Pacifico' ;
  }
  
  /* Change the background color on mouse-over */
  .header a:visited {
    font-weight: bold;
  }

  .header-right {
    text-align: center;
}
  
  /* Float the link section to the right */
  .header a.tabs {
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito';
    margin: 0 auto;
  }

  /* Defines the size of the logo for the join and create images*/
  .logo {
    margin-top: 12px;
    width: 37px;
    height: 37px;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }