.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center the box */
  align-items: center; /* Vertically center the box */
  height: 80vh;
}
  
.box {
  width: 480px; /* Set desired width of the box */
  height: 190px; /* Set desired height of the box */
  background-color: rgba(0, 0, 0, 0.16); /* Set background color */
  border: 5px solid #5700C7; /* Optional: Add border */
  border-radius: 15px;
  display: flex; /* Use Flexbox */
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.sync_title {
  font-family: 'Preahvihear';
  font-size: 40pt;
  color: #FFFFFF;
  font-weight: 100;
  margin: 0;
}

.sync_code_box {
  width: 380px; /* Set width as needed */
  height: 60px; /* Set height as needed */
  /* padding-top: 10px;  */
  border: 4px solid #4E4E4E; /* Add border for the box */
  background-color: #FFFFFF;
  border-radius: 15px; /* Add border radius for rounded corners */
  outline: none; /* Remove default outline */
}

.sync_code_box::placeholder {
  font-size: 30px; /* Set font size for text */
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'Quattrocento Sans';
  font-weight: 501;
}

input.sync_code_box[type="text"] {
  font-size: 30px; /* Set the font size to 16 pixels */
  text-align: center;
  font-family: 'Quattrocento Sans';
  font-weight: 501;
}

.enter_button {
  width: 380px; /* Set width as needed */
  height: 60px; /* Set height as needed */
  margin-top: 18px;
  border: 4px solid #4E4E4E; /* Add border for the box */
  background-color: #4E4E4E;
  border-radius: 15px; /* Add border radius for rounded corners */
  outline: none; /* Remove default outline */

  font-family: 'Quattrocento Sans';
  font-size: 40px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}


.allBody {
  z-index: 5;
  background-color: #8C33FF;
  height: calc(100vh);
  overflow: hidden;
  position: relative;
  /* position: absolute; */
}

.blob1 {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px
}

.blob2 {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  overflow: hidden;
  right: -250px;
  top: -100px
}

.blob3 {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  height: 800px;
  width: auto;
}

.blob4 {
  z-index: -5;
  overflow: hidden;
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: -100px;
  width: 1600px;
  transform: rotate(15deg);
}

.blob5 {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  overflow: hidden;
  left: -200px;
  top: 200px;
  height: 800px;
  width: auto;
  transform: rotate(-20deg);
}